<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Graticules</title>
    
    <link rel="stylesheet" href="foundation.min.css" type="text/css">
    <link rel="stylesheet" href="styles.css" type="text/css">
    
<!--     
    <script src="bower_components/angular/angular.js" type="text/javascript" charset="utf-8"></script>
    <script src="bower_components/d3/d3.js" type="text/javascript" charset="utf-8"></script>
    <script src="wcs.js" type="text/javascript" charset="utf-8"></script>
    <script src="app.js" type="text/javascript" charset="utf-8"></script>
    
     -->
    <script src="main.js" type="text/javascript" charset="utf-8"></script>
    
  </head>
  
  <body ng-app="GraticulesApp">
    <a href="https://github.com/astrojs/wcsjs"><img style="position: absolute; top: 0; right: 0; border: 0;" src="images/forkme.png" alt="Fork me on GitHub"></a>
    
    <div class="row">
      <div class="large-12 columns">
        <h1>Graticules <small>an example of wcsjs</small></h1>
        <hr />
      </div>
    </div>
    
    <!-- Main Page Content and Sidebar -->
    <div class="row">
      
      <!-- Main Blog Content -->
      <div ng-controller="GraticuleCtrl" class="large-12 columns" role="content">
        
        <article>
          
          <h3>Projections</h3>
          
          <ul class="button-group">
            <li ng-repeat="(abbv, projection) in projections" ng-click="onProjection(abbv)"><a href="#!" class="tiny button">{{abbv}}</a></li>
          </ul>
          
          <div class="row">
            <div class="large-8 columns">
              <h4>{{name}}</h4>
              <graticule></graticule>
            </div>
            
            <div class="large-4 columns">
              <h5>&nbsp;</h5>
              <form>
                <fieldset>
                  <legend><h5>Number of Graticules</h5></legend>
                  <label><h6>Declination</h6></label>
                  <input type="range" min="4" max="14" step="5" ng-model="nGraticulesX">
                  
                  <label><h6>Right Ascension</h6></label>
                  <input type="range" min="4" max="14" step="5" ng-model="nGraticulesY">
                </fieldset>
              </form>
              
              <div class="panel callout radius">
                <h5>Coordinates</h5>
                
                <ul class="small-block-grid-2">
                  <li><h4><small>right ascention</small></h4></li>
                  <li><h4><small>{{ra}}</small></h4></li>
                  <li><h4><small>declination</small></h4></li>
                  <li><h4><small>{{dec}}</small></h4></li>
                  
                  <li><h4><small>x</small></h4></li>
                  <li><h4><small>{{x}}</small></h4></li>
                  <li><h4><small>y</small></h4></li>
                  <li><h4><small>{{y}}</small></h4></li>
                </ul>
              </div>
            </div>
          </div>
        </article>
        
      </div>
      
    </div>
    
  </body>
  
</html>